---
export const prerender = true;

import Layout from "@layouts/Layout.astro";
import PostThumb from "@components/article/postThumb.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import TopicFAQ from '@components/article/topicFAQ.astro';
import { getCategories, getDataCollection, getPublishedArticles, getTeam } from "@utils/utils.js";

export async function getStaticPaths() {
  const allTopics = await getDataCollection("topics");
  const allFAQs = await getDataCollection("faqs");
  const allArticles = await getPublishedArticles();
  const authors = await getTeam()
  const categories = await getCategories();
  return allTopics.map((topic) => {
    const articleTopicsHasMatch = (ar) => ar.data?.topics?.includes(topic.id);
    return {
      params: {topic: topic.id},
      props: {
        topic,
        faqs: allFAQs.find(faq => faq.id === topic.id),
        posts: allArticles.filter(articleTopicsHasMatch),
        authors, categories
      }
    }
  });
}


const slug = Astro.params.topic;
const { topic, faqs, posts, authors, categories } = Astro.props;
---

<Layout title={slug} description={topic?.data?.description}>
   { !!faqs && (<TopicFAQ faqs={faqs} max=8 />)}
   { !faqs && (
     <Sectionhead>
       <Fragment slot="title"> Article Topics </Fragment>
       <Fragment slot="desc"> Posts associated with “{slug}” </Fragment>
     </Sectionhead>
   )}
  <Container class="w-full mx-5 sm:mx-15">
    <main class="flex flex-wrap justify-center gap-20 mt-5">
      {Array.isArray(posts) && posts.map((post) => {
        // console.log('postThumb: ', post.id);
        const author = authors.find(author => author.id === post.data.author);
        const category = categories.find(category => category.id === post.data.category);
        const notEnglish = post.data.language && post.data.language !== 'en';
        return (
          <div className={`flex-none articlePost ${notEnglish ? 'hidden' : ''}`}
              data-title={post.data.title}
              data-tags={post.data.tags.join(',')}
              data-language={post.data.language}>
            <PostThumb post={post} author={author} category={category} />
          </div>
        );
      })}
    </main>
  </Container>
</Layout>


<script type="module" src="/js/hidePosts.js" client:idle></script>
