---
export const prerender = true;

import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import { getPublishedArticles, getTopics } from "@utils/utils.js";

const allPosts = await getPublishedArticles();
// const allTopics = await getDataCollection("topics");
const allTopics = await getTopics();

const usedTopics = new Map();
allPosts.forEach(({data}) => {
  if (data.topics) data.topics.map((topic) => usedTopics.set(topic, true));
});

const topicLinks = allTopics.map((topic) => ({
  name: topic.name,
  href: `/topics/${topic.id}`,
  text: topic.name,
  id: topic.id,
  used: !!usedTopics.get(topic.id),
  classes: usedTopics.get(topic.id) ? 'underline text-blue-700' : 'text-gray-300'
}));
---

<Layout pageTitle="All Tags">
  <Container>
    <Sectionhead>
      <Fragment slot="title"> The Big Ideas </Fragment>
      <Fragment slot="desc">   </Fragment>
    </Sectionhead>
      <div class="text-center">
         {topicLinks.map((tag) => (
              <a href={tag.href} aria-label={tag.name} data-astro-prefetch="false" class={tag.classes}>{tag.name}</a> <span class="text-gray-200"> | </span>
          ))}
      </div>
  </Container>
</Layout>
