---
import { getDataCollectionImage, getCategory, hashstr } from '@utils/utils';

const { slug, size='sm', editmode=false } = Astro.props;
const categoryURL = editmode ? `/admin/categories/${slug}` : `/categories/${slug}`;

const category = Astro.props.category || (await getCategory(slug));

let imageSize
if (size === "sm") imageSize = {width: 400, height: 400, format: 'webp'}
 else if (size === "md") imageSize = {width: 800, height: 400, format: 'webp'}
 else imageSize = {width: 788, height: 288, format: 'webp'}
let image = await getDataCollectionImage(category, category.data.image, imageSize);

const categoryName = category.data.category;
const uniqueID = 'id-' + hashstr(categoryURL + size) //  Math.random().toString(36).slice(2, 11);
---

{(size==="sm" && image) && (
 <div id={uniqueID}
   class="categoryCard w-48 h-48 shadow-lg rounded-lg overflow-hidden mx-auto border-2 border-gray-200 p-1"
   transition:name={categoryName} >
  <a href={categoryURL} aria-label={categoryName}>
    <div class="relative h-full">

      <img src={image.src} class="w-full h-full object-cover rounded-md" alt={categoryName}
        width={image.width} height={image.height} />

      <div class="absolute bottom-0 left-0 right-0 bg-black bg-opacity-35 rounded-b-lg">
        <div class="text-white px-1 py-1">
          <h3 class="text-sm font-semibold">{categoryName}</h3>
          <h3 class="text-xs"></h3>
        </div>
      </div>
    </div>
  </a>
 </div>
)}

{(size==="md" && image) && (
 <div id={uniqueID}
   transition:name={categoryName}
   class="categoryCard w-96 h-48 shadow-lg rounded-lg overflow-hidden mx-auto border-2 border-gray-200 p-1">
  <a href={categoryURL} aria-label={categoryName}>
    <div class="relative h-full">

      <img src={image.src} class="w-full h-full object-cover rounded-md" alt={categoryName}
        width={image.width} height={image.height} />

      <div class="absolute bottom-0 left-0 right-0 bg-black bg-opacity-35 rounded-b-lg">
        <div class="text-white px-1 py-1">
          <h3 class="text-sm font-semibold">{categoryName}</h3>
          <h3 class="text-xs"></h3>
        </div>
      </div>
    </div>
  </a>
 </div>
)}

{(size==="lg" && image) && (
 <div id={uniqueID}
      class="categoryCard w-[800px] h-[300px] shadow-lg rounded-lg overflow-hidden mx-auto border-2 border-gray-200 p-1"
     transition:name={categoryName} >
  <a href={categoryURL} aria-label={categoryName}>
    <div class="relative h-full">

      <img src={image.src} class="w-full h-full object-cover rounded-md" alt={categoryName}
        width={image.width} height={image.height} />

      <div class="absolute bottom-0 left-0 right-0 bg-black bg-opacity-35 rounded-b-lg">
        <div class="text-white px-1 py-1">
          <h3 class="text-sm font-semibold">{categoryName}</h3>
          <h3 class="text-xs"></h3>
        </div>
      </div>
    </div>
  </a>
 </div>
)}

