---
// topic intersections, does not require topic to be created already
import PostThumb from "@components/article/postThumb.astro";
import { mainLanguages } from '@utils/utils.js';

// const related = Astro.props.related;
const { translations, related } = Astro.props;
---
 <ul id="carouselTargetList">
   {related.map((post) => (
    <li class:list={["carousel__slide"]}>
      <PostThumb post={post} small vertical />
    </li>
   ))}
 </ul>

 <ul id="languageList" class="mt-20">
  {translations.map(({data}) => (
    <li class="px-5 text-sm mb-10"><a class="" href={`/${data.url}`}>
      <div class="text-8xl opacity-50 -mb-3">{mainLanguages[data.language].flag}</div>
      <h4 class="text-blue-900 underline">{data.title}</h4></a>
    </li>
  ))}
</ul>





