---
//  const tldr = Astro.props.data.tldr;
 const { data } = Astro.props.post;
 const ref = data.external_reference;
 import { mainLanguages as langs } from '@utils/utils.js';
 const lang = data.language;
 const dir =  langs[lang].dir;

---

<div lang="en" dir="ltr"
class="tldr text-base font-normal text-gray-600 italic my-5 p-3 bg-gray-100 rounded-lg border border-4 border-gray-300">
   <div class="tldr-title text-lg sm:text-xl font-bold text-[#6c6b8b] normal-case m-0 p-0 pb-1">Description:</div>
   <div lang={lang} dir={dir} class="tldr-content pl-0 sm:pl-4 ml-0 sm:ml-4 text-sm sm:text-base">
     {data.abstract}
     {ref?.link && (<a class="tldrLink block float-right text-gray-600 italic pt-2 pb-0 no-underline" target="_blank" href={ref?.link}>{ref?.linkText}</a> )}
   </div>
   <!-- tailwind clear  -->
   <div class="clear-both"></div>
</div>

