---
export const prerender = true;

import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import PostThumb from "@components/article/postThumb.astro";
import AuthorCard from "@components/article/authorCard.astro";
import { getCategories, getPublishedArticles, getTeam } from "@utils/utils.js";

// export paths for all the authors
export async function getStaticPaths() {
  const allAuthors = await getTeam();
  const allArticles = await getPublishedArticles();
  const allCategories = await getCategories();
  return allAuthors.map((author) => {
    const match = ({data}) => data.author===author.id;
    return {
      params: { author: author.id},
      props: {
        posts: allArticles.filter(match),
        author,
        categories: allCategories
      }
    };
  });
};

// this author param
const author_slug = Astro.params.author;
const { posts, author, categories } = Astro.props;

// console.log('[author].astro, posts/author:', posts.length, author_slug);
---

<Layout pageTitle={author_slug}>
  <Container>

     <AuthorCard slug={author_slug} size="md" author={author} />

      <main class="mt-16">
        <div class="flex flex-wrap justify-center gap-20">
          {Array.isArray(posts) && posts.map((post) => {
            const category = categories.find(c => c.id === post.data.category);
            const notEnglish = post.data.language && post.data.language !== 'en';
            return (
              <div className={`flex-none articlePost ${notEnglish ? 'hidden' : ''}`}
                style={{ width: '300px' }}
                data-title={post.data.title}
                data-language={post.data.language}>
                <PostThumb post={post} author={author} category={category} />
              </div>
            );
          })}
        </div>
      </main>



      <button class="mt-16 text-center block mx-auto bg-gray-200 hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded">
        <a href="/authors" aria-label="All Authors">Back to Authors</a>
      </button>

  </Container>
</Layout>



<script type="module" src="/js/hidePosts.js" client:idle></script>


