---
export const prerender = true;

import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import PostThumb from "@components/article/postThumb.astro";
import AuthorCard from "@components/article/authorCard.astro";
import { getPublishedArticles, getTeam } from "@utils/utils.js";

// export paths for all the authors
export async function getStaticPaths() {
  const authors = await getTeam();
  console.log(authors);
  return authors.map((author) => ({ params: { author: author.id } }));
};

console.log('author page', await getTeam());

// this author param
const slug = Astro.params.author;
const authorMatches = (post) => post.data.author===slug;
const posts = (await getPublishedArticles()).filter(authorMatches);
---

<Layout pageTitle={slug}>
  <Container>

     <AuthorCard slug={slug} size="md" />

      <main class="mt-16">
        <div class="flex flex-wrap justify-center gap-20">
          {Array.isArray(posts) && posts.map((post) => (
            <div class="flex-none articlePost hidden"
                style={{ width: '300px' }}
                data-title={post.data.title}
                data-tags={post.data.tags.join(',')}
                data-language={post.data.language}>
              <PostThumb post={post} />
            </div>
          ))}
        </div>
      </main>

      <button class="mt-16 text-center block mx-auto bg-gray-200 hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded">
        <a href="/authors" aria-label="All Authors">Back to Authors</a>
      </button>

  </Container>
</Layout>



<script type="text/javascript">
  // script to hide articles based on language
  document.addEventListener('DOMContentLoaded', function() {
    const selectedLanguage = localStorage.getItem('selectedLanguage') || 'en';
    const articles = document.querySelectorAll('.articlePost');
    articles.forEach(article => {
      const language = article.dataset.language.toLowerCase();
      if (language === selectedLanguage)  article.classList.remove('hidden');
        else article.classList.add('hidden');
    });
  });
</script>


