---
export const prerender = true;
import Layout from "@layouts/Layout.astro";
import PostThumb from "@components/article/postThumb.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import TopicFAQ from '@components/article/topicFAQ.astro';
import CategoryCard from '@components/article/categoryCard.astro';
import { getCategories, getCategory, getPublishedArticles } from '@utils/utils.js';


export async function getStaticPaths() {
  const categories = await getCategories();
  return categories.map(({id}) => ({ params: { category: id } }));
}

// this category slug
const { category: category_slug } = Astro.params;
// this category object
const category = await getCategory(category_slug);
const allPosts = await getPublishedArticles();
const matchingPosts = allPosts.filter((ar) => ar.data.category===category_slug);
// faq matching this category, if it exsits (do we really need this?)
const faqs = false;
---

<Layout title={category_slug} description={category?.data?.description}>
   { !!faqs && (<TopicFAQ faqs={faqs} />)}
   { !faqs && (
     <Sectionhead>
       <Fragment slot="title"> Article Topics </Fragment>
       <Fragment slot="desc"> About  “{category?.data?.category}” </Fragment>
     </Sectionhead>
   )}
  <Container class="w-full mx-5 sm:mx-15 pt-5">

    <CategoryCard slug={category_slug} size="lg" />

    <main class="flex flex-wrap justify-center gap-20 mt-10">
      {Array.isArray(matchingPosts) && matchingPosts.map((post) => (
        <div class="flex-none articlePost hidden"
          data-title={post.data.title}
          data-tags={post.data.tags.join(',')}
          data-language={post.data.language}>
          <PostThumb post={post} />
        </div>
      ))}
    </main>

  </Container>
</Layout>


<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    const selectedLanguage = localStorage.getItem('selectedLanguage') || 'en';
    const articles = document.querySelectorAll('.articlePost');
    articles.forEach(article => {
      const language = article.dataset.language.toLowerCase();
      if (language === selectedLanguage) article.classList.remove('hidden');
        else article.classList.add('hidden');
    });
  });
</script>
