---
export const prerender = true;

import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import PostThumb from "@components/article/postThumb.astro";
import site from "@data/site.json";
import ArticleSelector from '@components/article/articleSelector.astro';
import { getPublishedArticles, displayImageObj, getTeam, getCategories } from '@utils/utils.js';

const img = displayImageObj(site.author_image, 75,75, 'webp', 50);
// we pre-gather this information to avoid extra database queries within the template loop
const articles = await getPublishedArticles();
const authors = await getTeam();
const categories = await getCategories();
---

<Layout title="Article">
  <Container>

<div class="text-center p-5 max-w-7xl mx-auto border rounded-lg shadow-md bg-slate-50">
  <h2 class="text-lg italic md:text-3xl font-bold text-gray-600"
      style="font-family: Merriweather">
    <img src={img.src} width={img.width} height={img.height} alt={site.author}
         class="rounded-full border-2 border-gray-200 float-left mr-5 opacity-85" />
    Welcome to my little Bahá’í education blog
  </h2>
  <p class="text-sm md:text-sm text-gray-700 dark:text-gray-400 mt-2">
    A personal collection of thoughts, resources, and articles about
    Bahá’í education. I hope you find the resources useful.
  </p>
</div>

  <div id="articleSelector" class="mt-5 sticky top-20 z-10">
   <ArticleSelector />
  </div>
    <main class="mt-5 sm:mt-14">
      <div class="flex flex-wrap justify-center gap-5  sm:gap-10">
        {Array.isArray(articles) && articles.map((post, index) => {
          // we pre-gather this information to avoid extra database queries
          let author = authors.find(author => author.data.name === post.data.author);
          let category = categories.find(category => category.data.name === post.data.category);
          const notEnglish = post.data.language && post.data.language !== 'en';
          return (
            <div className={`flex-none articlePost ${notEnglish ? 'hidden' : ''}`}
              style={{ width: '300px' }}
              data-title={post.data.title}
              data-tags={post.data.tags.join(',')}
              data-language={post.data.language}>
              <PostThumb post={post} author={author} category={category} />
            </div>
          );
        })}
      </div>
    </main>
  </Container>
</Layout>
