---
import Container from "@components/container.astro";

const { margin } = Astro.props;

import brand from "@data/site.json";
import SiteLogo from "@components/siteLogo.astro";

import {companyLinks, productLinks, resourceLinks} from "@data/siteLinks.json";
---

<footer class:list={[ "py-8 bg-slate-100 border-t border-slate-100 noprint", margin && "mt-10" ]}>
  <Container>
    <div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-3 gap-8">

      <div class="sm:col-span-1 md:col-span-3 lg:col-span-3 ">
        <SiteLogo />
        <p class="mt-2 text-sm text-slate-700 max-w-xs"> {brand.description_long} </p>
        <div class="flex gap-3 mt-4 items-center">

          <a href="https://twitter.com/" name="Twitter link"
            target="_blank"
            rel="noopener noreferrer"
            class="bg-slate-200 hover:bg-slate-300 rounded w-6 h-6 inline-flex items-center justify-center text-slate-500">
            <!-- <Icon name="bx:bxl-twitter" class="w-4 h-4" /> -->
            <span class="sr-only">TwitterX</span></a>

            <a href="https://facebook.com/" transition:name=""
            target="_blank"
            rel="noopener noreferrer"
            class="bg-slate-200 hover:bg-slate-300 rounded w-6 h-6 inline-flex items-center justify-center text-slate-500">
            <!-- <Icon name="bx:bxl-facebook-circle" class="w-4 h-4" /> -->
            <span
              class="sr-only">Facebook</span></a>

          <a href="https://linkedin.com/" name="Linkedin link"
            target="_blank"
            rel="noopener noreferrer"
            class="bg-slate-200 hover:bg-slate-300 rounded w-6 h-6 inline-flex items-center justify-center text-slate-500">
            <!-- <Icon name="bx:bxl-linkedin-square" class="w-4 h-4" /> -->
            <span
              class="sr-only">Linkedin</span></a>

        </div>
      </div>
    { !!companyLinks.length && (

      <div>
        <h3 class="font-medium text-sm text-slate-800 underline">Company</h3>
        <div class="flex flex-col mt-1">
          {companyLinks.map((item) => (
              <a href={item.path || "#"} aria-label="Company link"
                class="py-1 text-sm text-slate-600 hover:text-indigo-600">
                {item.title}
              </a>
          ))}
        </div>
      </div>
    )}

    { !!productLinks.length && (
      <div>
        <h3 class="font-medium text-sm text-slate-800 underline">Tools</h3>
        <div class="flex flex-col mt-1">
          {productLinks.map((item) => (
              <a href={item.path || "#"} aria-label="Product link"
                class="py-1 text-sm text-slate-600 hover:text-indigo-600">
                {item.title}
              </a>
          ))}
        </div>
      </div>
      )}

   { !!resourceLinks.length && (
      <div>
        <h3 class="font-medium text-sm text-slate-800 underline">Resources</h3>
        <div class="flex flex-col mt-1">
          {resourceLinks.map((item) => (
              <a
                href={item.path || "#"} aria-label="Resource link"
                class="py-1 text-sm text-slate-600 hover:text-indigo-600">
                {item.title}
              </a>
          ))}
        </div>
      </div>
    )}

    </div>
  </Container>

  <div class="mt-8 pt-8 px-5 border-t border-slate-200">
    <Container>
      <p class="text-center text-sm text-slate-600 [text-wrap:balance]">
        Copyright © {new Date().getFullYear()} {brand.site} &mdash; All rights reserved.
      </p>
      <p class="text-center text-xs text-slate-600 mt-2">
        <a href="/terms" class="hover:text-indigo-500" aria-label="Terms" rel="nofollow"> Terms</a> &middot;
        <a href="/privacy" class="hover:text-indigo-500" aria-label="Privacy" rel="nofollow"> Privacy</a> &middot;
        <a href="/login" class="hover:text-indigo-500" aria-label="Login" rel="nofollow"> Admin</a> &middot;
        <a href="/sitemap-articles.xml" class="hover:text-indigo-500" aria-label="Sitemap" rel="nofollow"> Articles</a> &middot;
        <a href={brand.vercel_project_dashboard} aria-label="Vercel Dashboard" target="_blank" class="hover:text-indigo-500" rel="nofollow"> Vercel Dashboard</a> &middot;

        <a href={brand.imgix_dashboard} aria-label="Vercel Dashboard" target="_blank" class="hover:text-indigo-500" rel="nofollow"> Imgix Dashboard</a>
      </p>
    </Container>
  </div>

</footer>
