---
export const prerender = false;

import Layout from '@layouts/AdminLayout.astro';
import site from '@data/site.json';
import { getTeamWithRole } from '@utils/utils.js';

const user  = Astro.locals?.user
// this page is only for admins
if (!['admin','superadmin'].includes(user?.role)) return Astro.redirect('/admin');

const teamMembers  = await getTeamWithRole();

// console.log(JSON.stringify(teamMembers, null, 2))

---
<Layout user={user} >
  <div class="mx-20 w-full prose">

    <h1> Site Planning: Team </h1>
    <p class="ml-2 -mt-8"> <a href="/">home</a> / <a href="/admin">admin</a> / team </p>


    <p> The team for any website is divided by roles and responsibilities. Admins will be able to see the "Site Planning" tools, Editors the "Promotion Tasks" and Writers the content. One SuperAdmin is seeded into the database from the core branding file (<b><tt>src/data/site.json</tt></b>). The superuser can be modfied but not deleted. </p>

    <p> Your website Team: </p>


    <!-- Loop through teamMembers using a more compact card layout -->
    {teamMembers.map(member => (
      <div class="relative bg-white border not-prose border-gray-100 my-2 p-4 rounded-lg shadow-md hover:shadow-lg flex flex-col md:flex-row items-start md:items-center space-x-0 md:space-x-6">

        <div class="flex-shrink-0 flex flex-col justify-between text-center h-auto md:h-full">
          <img src={member.image_src} alt={member.image_alt} class="rounded-full h-16 w-16 md:h-20 md:w-20 object-cover mx-auto" />
          <span class="inline-block bg-gray-100 border text-xs text-gray-500 px-2 py-1 rounded-full mx-auto mt-2 md:mt-auto">{member.role}</span>
        </div>

        <div class="flex-grow"> <!-- Removed padding-top -->
          <h2 class="text-md font-semibold">{member.name}</h2> <!-- Removed top margin -->
          <p class="text-xs text-gray-600">{member.title}</p>
          <p class="text-xs">
            <a href={`mailto:${member.email}`} target="_blank" class="text-blue-600 hover:text-blue-800">{member.email}</a>
          </p>
          <p class="text-xs text-gray-600">{member.description}</p>
        </div>

        <a href={`/admin/team/${member.id}`} class="absolute top-2 right-2 no-underline text-gray-400 hover:bg-blue-500 hover:text-white p-2 rounded-full">
          <span class="sr-only">Edit</span> <!-- Screen-reader-only text -->
          &#9998; <!-- Unicode pencil icon -->
        </a>
      </div>
    ))}

<div class="flex justify-center mt-5">
  <a href="/admin/team/adduser" class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 transition ease-in duration-200">+ Add Team Member</a>
</div>







 </div>
</Layout>


