---
export const prerender = true;

// all the article-specific styling should go here or in article.css;
import "@styles/article.css";
import "@styles/global.css";
// import { ViewTransitions } from "astro:transitions";
import  SpeedInsights  from "@vercel/speed-insights/astro"
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import JSONLD  from "@components/article/JSONLD.astro"; // validate at https://validator.schema.org/
       // fyi, check your opengraph here:  https://www.opengraph.xyz/

const {footerMargin = true, post, author, category, language } = Astro.props;
---
<!doctype html>
<html lang={language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <JSONLD {author} {category} {post} />
  </head>
  <body>
    <Navbar />
      <slot />
    <Footer margin={footerMargin} />
    <SpeedInsights />
    <!-- <ViewTransitions /> -->
    <script type="module" src="/js/hidePosts.js"     client:idle></script>
    <script type="module" src="/js/appendLink.js"    client:idle></script>
    <script type="module" src="/js/externalLinks.js" client:idle></script>
    <script type="module" src="/api/crontasks"       client:idle></script>
  </body>
</html>



