---
export const prerender = true;
import "../styles/global.css";
// import "@fontsource-variable/inter/index.css";
// import { injectSpeedInsights } from '@vercel/speed-insights';
import  SpeedInsights  from "@vercel/speed-insights/astro"
// Props can be documented via comments if needed
// Expected props:
//   title: string (optional)
//   footerMargin: boolean (optional, default true)
// import { ViewTransitions } from "astro:transitions";
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";

import site from "@data/site.json";
import { currentURL } from '@utils/utils.js';

const pageURL = currentURL(Astro);


// injectSpeedInsights();

// Props can be documented via comments if needed
// Expected props:
//   title: string (optional)
//   footerMargin: boolean (optional, default true)


const resolvedImageWithDomain = new URL( "/favicon.svg", Astro.site, ).toString();

// console.log ('resolvedImageWithDomain', resolvedImageWithDomain);
const { title, footerMargin = true, description } = Astro.props;

const makeTitle = title +' | '+ site.site;
const makeDesc = description || site.description;


/*
import { ViewTransitions } from "astro:transitions";
import { SEO } from "astro-seo";
import Footer from "../components/footer.astro";
import Navbar from "../components/navbar/navbar.astro";

import "@fontsource-variable/inter/index.css";

export interface Props {
  title?: string;
  footerMargin?: boolean;
}

const pageURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site,
).toString();

const { title, footerMargin = true } = Astro.props;


*/
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="sitemap" href="/sitemap-articles.xml" />
    <meta name="generator" content={Astro.generator} />


    <SEO
      title={makeTitle}
      description={makeDesc}
      canonical={pageURL}
      twitter={{
        creator: site.twitter.creator,
        site: site.twitter.site,
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: pageURL,
          type: "website",
          title: makeTitle,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Homepage Screenshot",
        },
      }}
    />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img { content-visibility: auto; }
    </style>
    <!-- <ViewTransitions /> -->
  </head>
  <body class="max-w-screen">
    <Navbar />
    <slot />
    <Footer margin={footerMargin} />
    <SpeedInsights />

    <!-- <ViewTransitions /> -->
    <script type="module" src="/api/crontasks" client:idle></script>
  </body>
</html>


<style is:global>
  @media screen {
    .printonly { display: none !important; }
  }
  @media print {
    .printonly { display: block !important; }
    .noprint { display: none !important; }
  }
</style>
